# Python virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
pip-cache/

# Environment variables - Rất quan trọng
.env

# Configuration files with secrets - Rất quan trọng
config.yaml

# Database files - Rất quan trọng
*.db
*.sqlite3

# IDE / Editor specific
.idea/
.vscode/
*.swp
*.swo

# Data & Models (nếu chúng lớn và không nên commit)
data/
models/
.streamlit/