# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
pip-cache/
*.egg-info/

# Environment variables
.env

# IDE / Editor specific
.idea/
.vscode/
*.swp
*.swo

# Data files (nếu chúng lớn và không nên commit)
data/processed_data/
data/raw_data/
models/